<header >
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 p-3" style="background: #161b22 !important;">
        <div class="container-fluid" style="margin-left: 80px" >
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">KYBE</a>
            <a class="nav-link text-white " asp-area="" asp-controller="Home" asp-action="Privacy">Willian Servello</a>
        </div>
    </nav>
</header>