<nav class="navbar">
	<div class="navContainer">
		
		<div class="navContainerLogo">
			<a class="navTexto navLogo" asp-controller="Home" asp-asction="Index">
				KYBE
			</a>
		</div>

		<div class="navContainerNSI">
			<a class="navTexto navNome" asp-controller="Home" asp-asction="Index">
				Willian Servello
			</a>
			<a class="navTexto navStatus" asp-controller="Home" asp-asction="Index">
				Funcionário
			</a>
		</div>
	</div>
</nav>