<div class="sidebar fechada" id="sidebar">
    <div class="conteinerSidebar">

        <div class="botaoSidebar">
            <button class="btnToggle"  onclick="toggleSidebar()">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        

        <a class="conteinerItens linkSidebar" 
            asp-controller="Home"
            asp-action="Index">

            <i class="fa-solid fa-house-chimney iconeSidebar "></i>
            <span 
                class="fontPoppins"> 
                Home
            </span>
          
        </a>

        <a class="conteinerItens"
               asp-controller="Usuario"
               asp-action="Index">
            

            <i class="fa-solid fa-user iconeSidebar"></i>
            <span 
                class="fontPoppins"> 
                Usuário
            </span>

        </a>

    </div>
</div>
